
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

div#header {
    background: rgb(120, 20, 0);
    margin: 0;
    padding: 0;
}

div#header h1 {
    font-size: 18px;
    color: #f5f5f5;
    margin: 0;
    padding: 7px;
}

div.frame {
    margin: 15px;
}

div.args {
    padding-left: 15px;
    padding-right: 15px;
    background: #ffe;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

div.error {
    padding: 15px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

fieldset {
    padding: 3px;
    margin: 1px;
    border: 1px solid #ddd;
}

fieldset legend {
    font-weight: bold;
    font-size: 12px;
}

input.query {
    font-size: 18px;
}

label {
    font-size: 12px;
}


table.form {
    text-align: left;
}

table.form tr td,
table.form tr th {
    vertical-align: top;
}

table.form input {
    margin-right: 5px;
}

ul.errorlist {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;

}

ul.errorlist li {
    font-size: 12px;
    color: red;
    margin: 0px;
    padding: 0px;
}

span.helptext {
    font-size: 11px;
    color: gray;
}